<!DOCTYPE html>
<html>
  <head>
    <title>Klemov</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body onload="myFunction()" style="margin:0; background-image: url(<%= asset_path 'Fondokle.png', heigh: '50%' %>); " >
<div id="loader">

<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
width="200pt" height="" viewBox="0 100 1296.000000 370.000000" 
preserveAspectRatio="xMidYMid meet">

<style type="text/css">
		   .st0{fill:#000000;stroke:#000000;stroke-width:1;stroke-miterlimit:10;}
</style>

<g transform="translate(0.000000,370.000000) scale(0.100000,-0.100000)"
fill="none" stroke="#fff">
<path class="st0" d="M0 3210 l0 -490 4218 -1 c2319 -1 4184 -5 4143 -9 -62 -7 -77 -12
-96 -34 -12 -14 -27 -26 -34 -26 -8 0 -11 -51 -11 -172 0 -95 -2 -245 -5 -333
-2 -96 -1 -148 4 -130 5 17 9 96 10 178 l1 147 55 0 55 0 0 -340 0 -340 -55 0
-55 0 0 154 c0 85 -3 157 -7 159 -5 3 -8 -207 -8 -466 l0 -472 -40 0 c-42 0
-41 -2 -44 68 -1 26 -3 27 -51 27 -48 0 -49 1 -56 35 -5 30 -10 35 -35 35 -29
0 -29 1 -29 59 0 36 -5 61 -12 63 -7 3 -12 46 -14 128 -2 73 -8 126 -14 128
-5 2 -10 17 -10 33 0 16 -5 29 -11 29 -6 0 -8 -9 -4 -21 4 -12 1 -27 -8 -37
-11 -13 -16 -48 -19 -136 -2 -84 -7 -121 -15 -124 -9 -2 -13 -24 -13 -63 0
-59 0 -59 -29 -59 -26 0 -30 -4 -33 -32 -3 -32 -4 -33 -55 -36 l-53 -3 0 -51
0 -51 -356 6 c-345 5 -356 5 -361 -14 -4 -15 -14 -19 -49 -19 l-43 0 6 -35 c4
-25 2 -35 -8 -35 -10 0 -10 -3 -1 -12 8 -8 12 -63 12 -180 0 -143 -2 -168 -15
-168 -13 0 -15 82 -15 678 0 623 -2 674 -16 645 -9 -17 -38 -52 -65 -77 -40
-37 -54 -44 -77 -40 -15 3 -84 15 -155 28 l-127 23 13 -21 c11 -16 13 -64 10
-216 -3 -107 -5 -212 -5 -232 0 -21 -4 -38 -10 -38 -6 0 -7 -16 -3 -40 4 -25
3 -40 -3 -40 -6 0 -10 -14 -10 -31 1 -17 -5 -35 -12 -39 -7 -5 -10 -15 -6 -25
3 -10 0 -28 -9 -41 -8 -13 -12 -31 -8 -40 4 -10 -1 -22 -12 -30 -11 -8 -16
-21 -12 -34 3 -13 -2 -28 -15 -40 -12 -11 -18 -25 -15 -34 4 -9 -3 -24 -15
-35 -12 -12 -18 -26 -14 -36 3 -10 -4 -25 -19 -39 -15 -14 -23 -30 -20 -39 4
-9 -5 -23 -25 -37 -22 -16 -28 -25 -21 -34 12 -14 -4 -36 -26 -36 -19 0 -31
-31 -26 -68 5 -30 4 -32 -25 -32 -36 0 -35 -4 -52 198 -9 103 -9 136 0 147 10
12 10 15 -1 15 -19 0 -53 74 -46 99 5 20 -7 35 -28 36 -5 0 -10 9 -10 20 0 29
-39 27 -43 -3 -2 -12 -10 -22 -18 -22 -9 0 -14 -11 -14 -36 0 -21 -4 -33 -10
-29 -5 3 -10 0 -11 -7 0 -7 -5 -2 -10 11 -5 14 -7 31 -4 39 3 8 -3 16 -15 19
-11 3 -20 13 -20 22 0 9 -5 22 -11 28 -14 14 -39 -7 -39 -32 0 -9 -5 -13 -10
-10 -9 6 -15 -17 -10 -40 5 -26 -28 -94 -62 -128 -37 -37 -38 -37 -38 -13 0
39 -18 69 -55 94 -21 13 -35 30 -35 43 0 30 -34 20 -38 -11 -2 -13 -13 -31
-23 -38 -24 -16 -49 -64 -49 -92 0 -15 -6 -20 -25 -20 -25 0 -33 14 -15 25 15
9 12 25 -4 25 -18 0 -30 97 -25 209 2 45 1 81 -2 81 -13 0 -30 96 -27 154 2
40 -2 61 -10 64 -7 2 -12 9 -12 15 0 7 -11 25 -25 41 -14 17 -25 42 -25 58 0
42 -33 34 -40 -9 -3 -18 -12 -41 -20 -51 -8 -10 -17 -25 -19 -33 -2 -8 -4 -18
-6 -24 -1 -5 -7 -23 -14 -39 -9 -22 -9 -32 0 -42 14 -17 6 -133 -11 -165 -6
-11 -8 -34 -5 -51 4 -16 4 -50 0 -74 -5 -35 -11 -45 -30 -50 -28 -7 -60 9 -77
39 -13 24 -18 137 -6 137 5 0 8 7 8 15 0 8 -7 15 -15 15 -9 0 -19 10 -24 23
-8 19 -15 23 -44 19 -20 -2 -52 1 -71 8 -33 11 -36 15 -36 50 0 56 -26 61 -34
6 -5 -33 -13 -46 -32 -55 -36 -16 -62 -14 -67 7 -4 16 -5 16 -6 0 -1 -21 -27
-24 -34 -5 -3 6 -6 0 -6 -15 -1 -21 -7 -29 -26 -34 -20 -5 -23 -9 -15 -24 14
-26 13 -117 -2 -143 -23 -44 -74 -62 -96 -35 -14 19 -25 110 -14 117 7 4 5 25
-4 61 -16 63 -19 157 -4 162 6 2 5 13 -4 29 -7 14 -16 38 -20 54 -4 16 -16 40
-27 54 -11 14 -19 34 -18 45 1 12 -2 29 -6 39 -6 15 -10 16 -16 5 -5 -7 -9
-23 -9 -36 0 -13 -16 -43 -35 -66 -19 -24 -35 -50 -35 -60 0 -9 -4 -16 -10
-16 -6 0 -6 -9 0 -26 13 -33 13 -91 0 -99 -5 -3 -10 -19 -10 -36 0 -19 -5 -29
-15 -29 -18 0 -20 -16 -4 -26 8 -5 10 -43 7 -127 -5 -101 -8 -122 -24 -134
-14 -10 -15 -16 -6 -25 8 -8 12 -54 12 -142 0 -151 -5 -176 -31 -176 -18 0
-19 10 -19 165 l0 165 -37 16 c-96 40 -347 85 -558 100 -55 4 -103 12 -107 18
-6 8 -10 7 -16 -2 -7 -9 -15 -10 -35 -3 -15 6 -41 8 -58 4 -21 -4 -34 -1 -40
8 -6 10 -11 11 -16 3 -5 -7 -65 -14 -158 -18 -335 -15 -611 -58 -742 -116
l-43 -19 -1 -108 0 -108 -23 80 c-12 44 -39 110 -59 146 -37 65 -37 69 -37
170 1 57 -3 118 -8 134 -10 35 -58 70 -116 86 -23 6 -47 13 -54 15 -7 2 -21
19 -32 37 -11 19 -31 39 -45 45 -21 10 -25 18 -25 56 0 44 0 44 -50 62 -48 17
-50 19 -50 56 l0 38 -61 17 c-41 11 -63 23 -67 35 -2 9 -12 19 -21 22 -9 3
-112 8 -228 12 l-213 7 0 43 c0 39 -4 45 -31 60 -24 12 -30 20 -25 37 4 12 9
41 12 64 6 38 9 41 26 32 37 -20 28 -2 -17 31 -25 19 -45 40 -45 47 0 19 -18
16 -24 -5 -4 -10 -24 -28 -46 -41 -50 -28 -58 -40 -23 -35 23 3 30 -1 41 -23
6 -15 12 -42 12 -60 0 -28 -5 -35 -35 -47 -33 -14 -35 -18 -35 -60 l0 -46 -79
0 c-94 0 -181 -18 -181 -37 0 -7 -8 -13 -19 -13 -28 0 -36 -15 -69 -134 -17
-60 -39 -117 -48 -127 -18 -20 -19 -20 46 -38 33 -9 32 -9 -22 -10 l-58 -1 0
-40 c0 -22 -4 -40 -10 -40 -5 0 -10 -10 -10 -22 -1 -22 -1 -22 -15 -5 -13 18
-14 18 -25 -2 -9 -17 -8 -25 5 -37 39 -40 -35 -144 -103 -144 -10 0 -33 -15
-51 -34 -27 -28 -34 -45 -43 -107 -6 -41 -21 -95 -34 -120 l-23 -46 -84 -18
-85 -18 -33 -70 -34 -70 -102 -45 -103 -46 0 -233 0 -233 2843 0 2844 0 11 25
c6 14 19 25 28 25 16 0 16 -1 1 -18 -10 -10 -17 -22 -17 -25 0 -4 1631 -7
3625 -7 l3625 0 0 268 0 269 -59 16 -59 17 -57 117 c-178 372 -354 616 -490
683 -72 36 -161 34 -235 -4 -112 -58 -242 -221 -387 -486 l-68 -125 -3 43 c-2
23 -7 42 -13 42 -5 0 -9 9 -9 21 0 12 -8 23 -19 26 -13 3 -22 17 -26 44 -4 24
-12 39 -21 39 -8 0 -14 9 -14 20 0 12 -7 20 -16 20 -10 0 -14 6 -11 14 5 11
-21 15 -133 21 l-139 7 -96 109 c-75 85 -103 110 -133 118 -20 6 -43 11 -49
11 -8 0 -13 13 -13 30 0 21 5 30 17 30 15 0 15 1 0 18 -15 16 -17 51 -17 277
l0 258 -30 48 c-34 52 -66 64 -129 47 -34 -10 -36 -9 -85 47 -48 52 -56 57
-130 76 -43 11 -80 18 -82 16 -19 -19 -24 -189 -24 -838 0 -605 -2 -729 -13
-729 -18 0 -27 120 -32 390 -10 526 -28 1076 -36 1086 -5 6 -4 15 1 20 6 6
-29 43 -94 101 l-104 92 -38 -55 c-20 -29 -42 -54 -49 -54 -6 0 -39 11 -73 24
l-62 25 0 -22 c0 -12 -7 -269 -15 -572 -9 -302 -17 -672 -18 -822 -2 -207 -6
-275 -16 -287 -7 -9 -16 -16 -20 -16 -3 0 -4 263 -3 585 l4 585 -21 0 c-14 0
-21 6 -21 20 0 11 -7 20 -15 20 -8 0 -15 5 -15 10 0 6 -11 16 -25 22 -14 6
-25 17 -25 25 0 7 -9 13 -19 13 -11 0 -23 9 -26 20 -3 11 -13 20 -21 20 -8 0
-17 7 -20 15 -4 8 -12 15 -20 15 -7 0 -18 9 -24 20 -6 11 -15 20 -21 20 -5 0
-25 16 -45 35 -19 19 -39 35 -45 35 -5 0 -12 7 -15 15 -4 8 -12 15 -20 15 -8
0 -14 10 -14 25 l0 25 -150 0 -150 0 0 -725 c0 -718 0 -725 -20 -725 -20 0
-20 7 -20 570 l0 570 -55 0 -55 0 0 36 0 37 -61 -7 c-34 -3 -72 -6 -84 -6 -13
0 -45 -18 -71 -40 -33 -27 -58 -40 -79 -40 -17 0 -36 -5 -43 -12 -9 -9 -12
-96 -12 -330 0 -311 0 -318 -20 -318 -20 0 -20 7 -20 780 l0 779 -22 46 c-12
25 -27 45 -33 45 -5 0 -16 9 -23 20 -12 20 -10 20 2208 20 l2220 0 0 490 0
490 -6480 0 -6480 0 0 -490z m12247 -1891 c116 -56 250 -283 368 -620 l44
-129 -479 0 -479 0 33 98 c123 359 268 605 390 658 44 19 73 17 123 -7z
m-7789 -22 c3 -23 0 -27 -21 -27 -19 0 -24 5 -22 18 2 9 4 23 4 30 2 26 36 7
39 -21z m850 0 c3 -22 -1 -27 -17 -27 -17 0 -21 6 -21 31 0 24 4 30 18 27 10
-2 18 -14 20 -31z m-860 -199 c14 -14 16 -84 4 -92 -5 -3 -18 -2 -30 1 -18 4
-22 13 -22 48 0 38 7 51 31 54 3 1 10 -4 17 -11z m870 0 c17 -17 16 -88 -2
-88 -8 0 -21 -3 -30 -6 -13 -5 -16 2 -16 44 0 45 6 58 31 61 3 1 10 -4 17 -11z
m502 -33 c0 -8 -4 -15 -10 -15 -5 0 -10 7 -10 15 0 8 5 15 10 15 6 0 10 -7 10
-15z m141 2 c-1 -12 -15 -9 -19 4 -3 6 1 10 8 8 6 -3 11 -8 11 -12z m-153 -75
c2 -15 -2 -22 -12 -22 -11 0 -16 9 -16 26 0 31 23 28 28 -4z m42 3 c0 -16 -6
-25 -15 -25 -15 0 -21 31 -8 43 13 14 23 6 23 -18z m100 0 c0 -26 -14 -33 -25
-15 -9 14 1 40 15 40 5 0 10 -11 10 -25z m48 -3 c2 -15 -2 -22 -12 -22 -11 0
-16 9 -16 26 0 31 23 28 28 -4z m-2950 -274 c7 -7 12 -22 12 -33 0 -12 3 -24
6 -28 12 -12 60 15 76 43 17 31 33 36 57 21 15 -10 26 -88 17 -125 -6 -23 -12
-26 -46 -26 -38 0 -40 2 -40 30 0 32 -1 33 -24 24 -10 -4 -16 -18 -16 -40 0
-27 -4 -34 -20 -34 -11 0 -20 5 -20 10 0 6 -16 10 -35 10 l-35 0 0 60 c0 47 4
64 20 80 23 23 31 25 48 8z m317 -12 c11 -16 15 -41 13 -78 l-3 -53 -42 -3
-43 -3 0 61 c0 34 5 70 10 81 15 26 46 24 65 -5z m159 8 c3 -9 6 -45 6 -80 l0
-64 -40 0 -40 0 0 68 c0 40 5 73 12 80 17 17 55 15 62 -4z m154 -66 l3 -78
-42 0 -42 0 7 71 c8 86 10 91 44 87 26 -3 27 -5 30 -80z m140 70 c7 -7 12 -40
12 -80 l0 -68 -40 0 -40 0 0 61 c0 33 5 69 10 80 12 21 40 25 58 7z m120 -5
c4 -10 6 -46 4 -80 -4 -62 -4 -63 -33 -63 l-29 0 0 64 c0 35 3 71 6 80 8 21
41 20 52 -1z m102 -3 c7 -13 8 -43 4 -80 -6 -55 -9 -60 -30 -60 -22 0 -24 4
-24 54 0 89 25 132 50 86z m-1119 -17 c5 -15 9 -47 7 -72 -3 -45 -4 -46 -40
-49 l-38 -3 0 56 c0 31 5 65 10 76 16 28 49 24 61 -8z m1207 -51 c3 -71 3 -72
-23 -72 -24 0 -25 2 -25 59 0 71 7 93 29 89 13 -3 17 -18 19 -76z m-1440 -5
c3 -62 1 -67 -18 -67 -18 0 -20 6 -20 63 0 35 3 67 7 71 17 17 28 -6 31 -67z
m106 57 c3 -9 6 -40 6 -70 0 -53 0 -54 -30 -54 l-30 0 0 63 c0 35 3 67 7 70
12 13 41 7 47 -9z m1400 -6 c3 -13 6 -44 6 -70 0 -41 -3 -48 -20 -48 -18 0
-20 7 -20 63 0 35 3 67 7 70 12 12 21 7 27 -15z m47 15 c1 -14 2 -67 0 -100
-1 -39 -17 -44 -24 -7 -6 34 4 114 14 114 5 0 9 -3 10 -7z m-1701 -68 c0 -51
-3 -65 -15 -65 -11 0 -15 12 -15 49 0 54 7 81 21 81 5 0 9 -29 9 -65z m70 16
c0 -62 -7 -81 -31 -81 -16 0 -17 6 -13 53 7 68 10 77 29 77 11 0 15 -12 15
-49z m-117 -18 c-8 -78 -13 -80 -13 -5 0 34 4 62 9 62 6 0 7 -25 4 -57z m757
-103 c0 -13 -7 -20 -20 -20 -19 0 -27 20 -13 33 13 14 33 6 33 -13z m6650
-105 c0 -8 -4 -15 -10 -15 -5 0 -7 7 -4 15 4 8 8 15 10 15 2 0 4 -7 4 -15z"/>
<path class="st0" d="M7895 1744 c-12 -5 -7 -94 6 -94 5 0 9 12 9 26 0 16 4 23 11 18 7 -4
6 3 -2 17 -7 13 -12 27 -11 32 2 8 2 8 -13 1z"/>
</g>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200pt"
viewBox="0 0 220 72" style="enable-background:new 0 0 220 72;" xml:space="preserve">
	   <style type="text/css">
		   .st0{fill:#000000;stroke:#000000;stroke-width:1;stroke-miterlimit:10;}
	   </style>
   <g>
	   <path class="st0" d="M78.1,67c-7.5,3-15.1,4.6-22.8,4.7c-0.1,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0c-7.7,0-15.2-1.4-22.6-4.2
		   c-7.4-2.8-14.1-7-20.2-12.5H5.1v-3.8h1.5c0.8,0,1.5-0.3,2-0.9c0.6-0.6,0.8-1.2,0.8-2V12.5c0-0.8-0.3-1.5-0.8-2s-1.2-0.8-2-0.8H5.1
		   V5.9h10.6c2.9,0,5.4,1.1,7.3,3.2c1.9,2.1,2.9,4.6,2.9,7.3c0,0.7-0.1,1.4-0.2,2.1s-0.4,1.4-0.7,2c3.5,1.3,6.2,3.5,8.3,6.5
		   c2.1,3.1,3.1,6.4,3.1,10.1c0,4.9-1.8,9.1-5.3,12.6S23.4,55,18.5,55h-1.2c5.4,4.3,11.2,7.5,17.6,9.7c6.4,2.2,12.8,3.3,19.4,3.3
		   c7.5,0,14.9-1.4,22-4.3c7.2-2.9,13.6-7.1,19.3-12.8l2.7,2.7C92.4,59.5,85.6,64,78.1,67z M24.7,24.5c-1.8-0.7-3.7-1.3-5.8-1.8
		   c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0.1-0.2,0.3-0.4,0.4-0.5c0.1-0.2,0.3-0.3,0.5-0.5c0.4-0.5,0.8-1,1.3-1.6c0.4-0.6,0.7-1.1,0.9-1.7
		   c0.1-0.2,0.2-0.4,0.2-0.6c0-0.2,0.1-0.4,0.1-0.6c0-0.1,0.1-0.3,0.1-0.5c0-0.2,0-0.4,0-0.6c0-1.7-0.6-3.3-1.8-4.6
		   c-1.2-1.4-2.7-2-4.6-2h-2.5v41.6c0.9,0,1.8,0,2.6,0c0.9,0,1.7,0,2.6,0c4.2,0,7.5-1.5,10.2-4.4c2.6-2.9,3.9-6.2,3.9-9.9
		   c0-0.2,0-0.5,0-0.7c0-0.2,0-0.4,0-0.6c-0.1-1.3-0.5-2.5-0.9-3.7c-0.5-1.2-1.2-2.4-2.1-3.5C28.1,26.5,26.5,25.3,24.7,24.5z"/>
	   <path class="st0" d="M79.5,47.8C74.7,52.6,68.9,55,62,55c-6.8,0-12.6-2.4-17.4-7.2c-4.8-4.8-7.2-10.6-7.2-17.4
		   c0-6.8,2.4-12.6,7.2-17.4C49.5,8.3,55.3,5.9,62,5.9c6.8,0,12.6,2.4,17.4,7.2c4.8,4.8,7.2,10.6,7.2,17.4
		   C86.7,37.2,84.3,43,79.5,47.8z M76.7,15.7c-4.1-4.1-9-6.1-14.7-6.1c-5.7,0-10.6,2-14.7,6.1c-4.1,4.1-6.1,9-6.1,14.7
		   c0,5.7,2,10.6,6.1,14.7c4.1,4.1,9,6.1,14.7,6.1c5.7,0,10.6-2,14.7-6.1c4.1-4.1,6.1-9,6.1-14.7C82.8,24.7,80.8,19.8,76.7,15.7z"/>
	   <path class="st0" d="M112.3,55c-6.8,0-12.6-2.4-17.4-7.2c-4.8-4.8-7.2-10.6-7.2-17.4c0-6.8,2.4-12.6,7.2-17.4
		   c4.8-4.8,10.6-7.2,17.4-7.2c0.3,0,0.6,0,0.9,0c0.3,0,0.6,0,0.9,0v8.5h-3.8c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3
		   c0-0.9-0.3-1.7-1-2.4c-0.7-0.7-1.5-1-2.4-1c-0.2,0-0.4,0-0.5,0c-0.1,0-0.3,0.1-0.4,0.1c-4.2,1.3-7.7,3.8-10.4,7.5
		   c-2.8,3.7-4.1,7.8-4.1,12.4c0,5.4,1.8,10,5.5,14c3.7,4,8.1,6.2,13.4,6.7V22.8h-3.5c-0.7,0-1.4,0.3-1.9,0.8c-0.5,0.6-0.8,1.2-0.8,2
		   v1.5h-3.8V19h13.8v36H112.3z"/>
	   <path class="st0" d="M158.9,47.8c-4.8,4.8-10.6,7.2-17.4,7.2c-6.8,0-12.6-2.4-17.4-7.2c-4.8-4.8-7.2-10.6-7.2-17.4
		   c0-6.8,2.4-12.6,7.2-17.4c4.8-4.8,10.6-7.2,17.4-7.2c6.8,0,12.6,2.4,17.4,7.2c4.8,4.8,7.2,10.6,7.2,17.4
		   C166.1,37.2,163.7,43,158.9,47.8z M156.1,15.7c-4.1-4.1-9-6.1-14.7-6.1c-5.7,0-10.6,2-14.7,6.1s-6.1,9-6.1,14.7
		   c0,5.7,2,10.6,6.1,14.7c4.1,4.1,9,6.1,14.7,6.1c5.7,0,10.6-2,14.7-6.1c4.1-4.1,6.1-9,6.1-14.7C162.2,24.7,160.2,19.8,156.1,15.7z"
		   />
	   <path class="st0" d="M179.9,14v-1.5c0-0.8-0.3-1.5-0.8-2s-1.2-0.8-2-0.8h-1.7v38.7c0,0.8,0.3,1.5,0.8,2s1.2,0.8,2,0.8h1.5V55h-12.6
		   v-3.8h1.5c0.8,0,1.5-0.3,2-0.8c0.6-0.6,0.8-1.2,0.8-2V9.6h-1.6c-0.8,0-1.5,0.3-2,0.8c-0.6,0.6-0.8,1.2-0.8,2V14h-3.8V5.9h20.4V14
		   H179.9z"/>
	   <path class="st0" d="M204.1,55v-3.8h1.5c0.8,0,1.5-0.3,2-0.8c0.6-0.6,0.8-1.2,0.8-2v-5.3h-14.8v5.3c0,0.8,0.3,1.5,0.8,2
		   c0.6,0.6,1.2,0.8,2,0.8h1.5V55h-12.6v-3.8h1.5c0.8,0,1.5-0.3,2-0.8c0.5-0.6,0.8-1.2,0.9-2v-5.3h-3.1v-3.8h3.1V24.2
		   c0-4.1,1-7.7,3-10.9c2-3.1,4.7-5.8,8.1-7.8c3.5,2.1,6.2,4.6,8.2,7.8c2,3.1,3,6.8,3,10.9v24.2c0,0.7,0.3,1.4,0.9,2
		   c0.6,0.6,1.2,0.8,2,0.8h1.5V55H204.1z M208.4,24.2c0-2.8-0.7-5.5-2-8.1c-1.3-2.5-3.1-4.6-5.5-6.2c-2.3,1.6-4.1,3.6-5.4,6.2
		   c-1.3,2.5-2,5.2-2,8.1v15.1h14.8V24.2z M196.5,5V3.4l11.6-3.3V5H196.5z"/>
   </g>
</svg>
</div>
<div style="display:none;" id="myDiv" class="animate-bottom">
  <header>
  <% if current_user %>
  <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete,class: 'login'  %>
<% else %>
  <%= link_to 'LOGIN', new_user_session_path,class: 'login' %>
<% end %>
<div style="float:left;">
  <%= link_to image_tag("kle-mov.png",width: '200px'), informativos_Introduccion_path,class: 'logo' %>
  </div>
  <div class="login">
  <%= link_to "SOBRE NOSOTROS", informativos_Acercade_path, class: 'login' %>
  <%= link_to "CONTACTO", informativos_Contacto_path,class: 'login' %>
  <%= link_to "OBJETIVO", informativos_Objetivo_path,class: 'login' %>
  <%= link_to "DESARROLLADORES", informativos_Desarrolladores_path, class: 'login'%>
  
  

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>


</div>
</header>
	<%= yield %>
</div>

  </body>
<footer>
 
</footer>
</html>
